.about {
		padding-bottom: 2rem;
	
	&--item--container{
		display: flex;
		justify-content: space-between;
	}
	&__item{
		max-width: 17rem;
		
		padding: 0 1rem .5rem 1rem;
		
		&__title{
			text-align: center;
			color: $main;
			font-weight: 600;
			/*border-bottom: 1px solid $text;*/
		}
		&__desc{
		font-weight: 300;
		color: $text;
		text-align: center;	
/*		margin: 0 auto;*/
		line-height: 1.2;
		font-size: 1.2rem;
		}
	}
	
}
