.welcome {
	position: relative;
	height: 100vh;
	background-image: linear-gradient(to right bottom, rgba(5, 92, 118, 0.6),rgba(6, 33, 105, 0.5)), url(../../assets/images/tech-mob.jpg);
	background-size: cover;
	@mixin medium {
		background-image: linear-gradient(to right bottom, rgba(5, 92, 118, 0.6),rgba(6, 33, 105, 0.5)), url(../../assets/images/tech-mid.jpg);
	background-size: cover;
		clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
	}
	@mixin large {
		clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
		background-image: linear-gradient(to right bottom, rgba(5, 92, 118, 0.6),rgba(6, 33, 105, 0.5)), url(../../assets/images/tech-large.jpg);
	background-size: cover;
	}
	display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	&--text {
		margin-bottom: 3rem;
	}
	
	&__title {
		position: relative;
		color: #eee;
		&__main {
			display: block;
			animation: titleRight 2s ease-out 1s;
			animation-fill-mode: backwards;
			font-size: 2.5rem;
			font-weight: 700;
			letter-spacing: 3px;
		}
		&__sub {
			display: block;
			animation: titleLeft 2s ease-out 1s;
			animation-fill-mode: backwards;
			font-weight: 300;
		}
	}
	&__desc {
		display: block;
		color: #fff;
		font-size: 1.8rem;
		letter-spacing: 1.1;
		animation: titleUp 1s ease-out 3s;
		animation-fill-mode: backwards;
	}
	
	
}


@keyframes titleRight {
	0%{
		opacity: 0;
		margin-left: 20rem;
	}
	70%{
		margin-left: -5rem;
	}
	
	100%{
		opacity: 1;
		margin-left: 0;
	}
}
@keyframes titleLeft {
	0%{
		opacity: 0;
		margin-right: 20rem;
	}
	70%{
		margin-right: -5rem;
	}
	
	100%{
		opacity: 1;
		margin-right: 0;
	}
}
@keyframes titleUp {
	0%{
		opacity: 0;
		transform: scaleY(0);
	}
	50%{
		transform: scaleY(1.5);
	}
	
	100%{
		opacity: 1;
		transform: scaleY(1);
	}
}
